doctype html

html
  head
    title about page
    // attributs entre ()
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // indentation pour élément enfant (emboitement)
    h1 about page
    // élément p de class text avec son contenu
    p.text Pong game
    // div, par défaut, de class texte
    .example created by Gautier Cavannac & Melvin Capron
    // div, par défaut, d'id otherexample
    #otherexample version 1.01
    #otherexample
      // contenu sur plusieurs lignes, préfixé par |
      a(href="/") retour 
