doctype html

html
  head
    title rules page
    // attributs entre ()
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // indentation pour élément enfant (emboitement)
    h1 rules page
    // élément p de class text avec son contenu
    ul
  | Rules
  li Pong is a two-dimensional sports game that simulates table tennis.
  li
    | The player controls an in-game paddle by moving it vertically across the left or right side of the screen
  li
    | They can compete against another player controlling a second paddle on the opposing side
  li
    | Players use the paddles to hit a ball back and forth. The goal is for each player to reach eleven points before the opponent; points are earned when one fails to return the ball to the other.


    #otherexample
      // contenu sur plusieurs lignes, préfixé par |
      a(href="/") retour 