doctype html

html
  head
    title about page
    // attributs entre ()
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // indentation pour élément enfant (emboitement)
    h1 about page
    // élément p de class text avec son contenu
    p.text Introduction to Express
    // div, par défaut, de class texte
    .example Licence 3 Informatique - option 
      em Javascript et son écosystème
    // div, par défaut, d'id otherexample
    #otherexample
      // contenu sur plusieurs lignes, préfixé par |
      | voir
      |
      a(href="http://portail.fil.univ-lille1.fr/ls6/js") sur le portail
