extends booklayout

append headblock
  script(src='/javascripts/bookdetails.js')

block bookcontent
  h1= title
  p Welcome to #{title.toLowerCase()}
  table.booklist
    each book in books
      tr.book(data-id= book.id)
        td.author= book.author
        td.title
          input(value= book.title, data-id= book.id)
    // add an entry for a non existing book to have a 404 error when trying to fetch book with id 5
    tr.book(data-id= 5)
      td.author Personne
      td.title
        input(value='Aucun', data-id= 5)
  #details
    +createCover('/images/book.png')
    | Details :
    .title
    .author
    .year
